@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h1><strong>Testing my Razor page</strong></h1>

<footer>Created by @ViewData["name"]</footer>
