@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This is my first .NET CORE app, i´m verry happy with the resault in where i use the Razor template engine to build the frontend and the MVC design pattern on this project.</p>
<p>If you have suggestions for improve my app please send me a e-mail for: kaiolunateles@gmail.com.</p>
<p>If you impressed with my code, please call me on +55 85 996511549 and let´s make a project together</p>


